spring:
  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: http://localhost:8081
            predicates:
              - Path=/auth/**

          - id: user-service
            uri: http://localhost:8082
            predicates:
              - Path=/users/**

          - id: product-service
            uri: http://localhost:8083
            predicates:
              - Path=/products/**

          - id: inventory-service
            uri: http://localhost:8084
            predicates:
              - Path=/inventory/**

          - id: order-service
            uri: http://localhost:8085
            predicates:
              - Path=/orders/**

          - id: payment-service
            uri: http://localhost:8086
            predicates:
              - Path=/payments/**